:root{
  --vermelho: #E50016;
  --preto: #3A3A3A;
  --laranja: #ED4000;
  --verde: #00A459;
  --verde-claro: #d7dfdb;
/* Inspiração: https://www.ifg.edu.br/attachments/article/1263/Manual_de_aplicacao_da_Marca_Cite.pdf */
}